.body {
    width: 1200px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    font-size: 0;
    text-align: center;
}

.container {
    /* position: fixed; */
    display: inline-block;
    text-align: center;
    font-size: 0;
    background: white;
    
}

/* .navigation {
    text-align: center;
} */

ul {
    display: inline-block;
    margin: 0 auto;
    font-size: 0;
}

li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 77px 50px 35px 50px;
}

a {
    height: 11px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: #03a9f4;
}

article {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 420px;
    height: 477px;
    margin: 69px 30px;
}

h2 {
    /* width: 85px; */
    height: 11px;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    /* width: 407px; */
    height: 30px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
}

p {
    display: inline-block;
    /* width: 414px; */
    text-align-last: left;
    height: 63px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
}

.btn {
    text-align: center;
}

button {
    border: 1px solid #626262;
    background: transparent;
    width: 164px;
    height: 60px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

/* a:focus {
    border: pink 1px;
} */

/* a:visited {
    color: green;
} */

/*
button {
width: 164px;
height: 60px;
line-height: 24px;
1) Текст кнопок может менять размер (смена языка, напрмер). Это значит что текст может стать длиннее - больше заданной ширины. Чтобы не писать новую верстку - не задавайте ширину. Задавайте paddin-left и padding-right от текста. Вот пример (вверху 2 кнопки с заданной шириной, внизу 2 кнопки с заданным padding) https://codepen.io/Gorbulin/pen/PrmOab

2)Выравнивание текста (именно одной строки текста) по высоте:
Выравнивание текста (именно одной строки текста) по высоте height и line-height должны быть равны , т.е. line-height: 60px;*/
