.wrapper {
    width: 900px;
    margin: 0 auto;
}

.container {
    display: inline-block;
    text-align: center;
    font-size: 0;
    background: white;
    
}

/* HEADER - START */

.header {
    font-size: 0;
    text-align: center;
}    

.nav__menu {
    padding: 0;
    margin: 77px auto 104px;
}

.menu__item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 100px 0 0;
}

.menu__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: #626262;
    font-family: Playfair Display, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__link:hover {
    color: #03a9f4;
}

/* HEADER - END */

/* MAIN - START */

.post__section {
    padding: 0;
  }
  
  .post__item {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 420px;
      padding: 0;
      margin: 0 60px 30px 0;
  }
  
  .post__item:nth-child(2n) {
      margin-right: 0;
  }
  
  .post__item--title {
      height: 14px;
      margin: 32px 0 0 0;
      color: #b4ad9e;
      font-family: Ubuntu, sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
  }
  
  .post__item--description {
      height: 30px;
      margin: 28px 0 0 0;
      color: #626262;
      font-family: Playfair Display, sans-serif;
      font-size: 30px;
      font-weight: 400;
  }
  
  .post__item--content {
      display: inline-block;
      text-align-last: left;
      height: 63px;
      margin: 34px 0 0 0;
      color: #626262;
      font-family: Playfair Display, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      overflow: hidden;
  }
  
  .btn {
      text-align: center;
  }
  
  .load__btn {
      border: 1px solid #626262;
      background: transparent;
      width: 164px;
      height: 60px;
      margin-bottom: 70px;
      padding: 1rem 2rem;
      color: #626262;
      font-family: Playfair Display, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
  }  

/* MAIN - END */

/* a:focus {
    border: pink 1px;
} */

/* a:visited {
    color: green;
} */