
.container {
    max-width: 940px;
    margin: 0 auto;
  }
  
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff2");
    font-weight: 400;
}

@font-face {
   font-family: 'Roboto Slab';
   src: url("../fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.woff2");

}

@font-face {
    font-family: 'Clicker Script';
    src: url("../fonts/clicker-script-v7-latin/clicker-script-v7-latin-regular.woff2");
    font-weight: 400;
}

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    margin-bottom: 90px;
  }
  
  .logo {
    margin-left: 6px;
    text-decoration: none;
    color: #FED136;
    font-family: "Clicker Script", sans-serif;
    font-size: 26px;
  }
  
  .nav_menu {
    display: flex;
    justify-content: space-between;
    width: 480px;
  }
  
  .menu {
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    transition: 0.2s;
  }
  
  .menu:hover {
    color: #FED136;
    transition: 0.2s;
  }
  
  .main {
    text-align: center;
  }
  
  .title {
    text-align: center;
    margin-bottom: 80px;
  }
  
  .title_name {
    margin: 0;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  
  .title_description {
    margin: 0;
    color: #777777;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-style: italic;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }
  
  .service_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 274px;
    height: 174px;
  }
  
  .label {
    margin: 0;
    width: 68px;
    height: 68px;
    border: 3px solid #fed136;
    border-radius: 50%;
  }
  
  .label_cart {
    background: #ffffff url("../img/Icon-Basket.png") no-repeat center;
  }

  .label_web {
    background: #ffffff url("../img/Icon-Laptop.png") no-repeat center;
  }

  .label_lock {
    background: #ffffff url("../img/Icon-Locked.png") no-repeat center;
  }
  
  .card_title {
    margin: 0;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
  
  .card_description {
    margin: 0;
    width: 100%;
    height: 57px;
    color: #777777;
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  .footer {
    max-width: 100%;
    padding-top: 110px;
    height: 566px;
    background: #222222 url("../img/Map_Image.png") no-repeat bottom right;
  }
  
  .footer_title {
    color: #ffffff;
  }

  .contact_form {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    max-width: 940px;
    height: 307px;
  }
  
  .contact_field {
    max-width: 485px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  input {
    width: 455px;
    height: 50px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin: 15px 30px 15px 0;
    padding: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.35px;
  }
  
  input:valid,
  textarea:valid {
    outline-color: green;
  }
  
  input:invalid,
  textarea:invalid {
    outline-color: red;
  }
  
  .message_field {
    margin: 15px 0;
    padding: 20px;
    width: 455px;
    height: 210px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.35px;
  }
  
  .submit {
    margin: 0 15px;
    width: 240px;
    height: 66px;
    background-color: #fed136;
    color: #ffffff;
    letter-spacing: 0.3px;
  }
  
  