
.wrapper {
    width: 1650px;
    margin: 0 auto;
}

header {
    text-align: center;
    width: 100%;
}

main {
    text-align: center;
    width: 100%;
    background-color: #e9f0fd;
}

.container {
    display: inline-block;
    text-align: center;
    width: 1111px;
    background: white;
    padding: 0;
}

.logo {
    display: inline-block;
    float: left;
    margin: 32px 0;
    vertical-align: top;
    width: 78px;
    color: #555252;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.logo::first-letter{
    color: #1abc9c;
    font-family: "Roboto - Black", sans-serif;
    font-weight: 400;
    letter-spacing: -0.6px;
}

.logo::first-line {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    letter-spacing: -0.6px;
}

.nav__menu {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin: 41px 0 42px 15px;
    color: #0f0101;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.28px;
    text-decoration: none;
}

.nav__menu:hover {
    color: #1abc9c;
}

.nav__menu:focus {
    color: #1abc9c;
}

.slide {
    position: relative;
}

.slide_layer {
    position: absolute;
    z-index: 1;
    width: 1717px;
    height: 600px;
    background-color: #000002;
    opacity: 0.52;
}

.rectangle {
    position: absolute;
    width: 104px;
    height: 104px;
    background-color: #4ec6ab;
    opacity: 0.65;
}

h2 {
    text-align: center;
    color: #515151;
    font-family: "Roboto - Black", sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.title::after {
    content: "";
    display: block;
    text-align: center;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 32px auto 0;
}

.products.container {
    width: 1150px;
    background-color: transparent;
}

.product {
    display: inline-block;
    vertical-align: top;
    margin: 15px 15px 100px;
    width: 250px;
    height: 320px;
    background-color: #ffffff;
}

.product__image {
    position: relative;
    margin: 0;
    width: 250px;
    height: 280px;
    overflow: hidden;
    object-fit: cover;
}

.cart {
    position: absolute;
    display: none;
    z-index: 1;
    width: 250px;
    height: 280px;
    box-sizing: border-box;
    border: 10px solid #ffffff;
    opacity: 0.55;
    background-color: #000000;
}

.name {
    width: 187px;
    height: 40px;
    color: white;
    padding-left: 13px;
    background-color: #323232;
    line-height: 40px;
    display: inline-block;
    float: left;
    vertical-align: top;
    text-align: left;
    font-family: "Roboto - Black", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.price {
    width: 50px;
    height: 40px;
    line-height: 40px;
    background-color: #323232;
    color: white;
    opacity: 0.44;
    display: inline-block;
    float: right;
    text-align: center;
    vertical-align: top;
    font-family: "Roboto - Black", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.product:hover .cart {
    display: block;
}

.product:hover .name {
    background-color: #1abc9c;
}

.product:hover .price {
    background-color: #1abc9c;
    opacity: 0.44;
}

h3 {
    display: inline-block;
    vertical-align: bottom;
    width: 250px;
    height: 40px;
    background-color: #323232;
}

.footer {
    width: 1656px;
    padding-top: 38px;
    padding-bottom: 33px; 
    background-color: #323232;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.32px;
}

.company__link {
    text-decoration: none;
    color: #46bfa9;
    letter-spacing: -0.32px;
}