body {
    width: 1750px;
    margin: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    width: 100%;
}

.container {
    display: inline-block;
    text-align: center;
    width: 1111px;
    background: white;
}

.logo {
    display: inline-block;
    float: left;
    margin: 38px 0 50px 0;
    vertical-align: top;
    width: 78px;
    color: #555252;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo::first-letter{
    color: #1abc9c;
    font-family: "Roboto - Black", sans-serif;
    font-weight: 400;
    letter-spacing: -0.6px;
}

.logo::first-line {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    letter-spacing: -0.6px;
}

.nav__menu {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin: 50px 0 55px 15px;
    color: #0f0101;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.28px;
    text-decoration: none;
}

.nav__menu:hover {
    color: #1abc9c;
}

.nav__menu:focus {
    color: #1abc9c;
}
