/* BODY */

h1,
h2 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1122px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */

/* NAVIGATION */

.navigation {
    padding: 25px 0 23px;
}

/* LOGO */

.logo__wrapper {
    margin: 0;
    padding: 0;
    float: left;
}

.logo {
    margin: 0;
    padding: 0;
    color: #555252;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
}

.logo:first-letter {
    color: #1abc9c;
    font-family: 'Roboto - Black', sans-serif;
    font-weight: bold;
}

/* MENU */

.menu {
    margin: 0;
    padding: 0;
    float: right;
}

.menu__item {
    margin: 0;
    margin-right: 15px;
    padding: 0;
    display: inline-block;
    vertical-align: sub;
}

.menu__item:last-of-type {
    margin: 0;
}

.menu__item--link {
    margin: 0;
    padding: 0;
    color: #0f0101;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.menu__item--link:hover,
.menu__item--link:focus {
    color: #1abc9c;
}

/* SLIDER SECTION */

.slider__field {
    position: relative;
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../img/slide4.png") no-repeat center center;
    background-size: cover;
}

.slider__field--layer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000002;
    opacity: 0.52;
}

.slider__item {
    position: absolute;
    z-index: 3;
    top: 44%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    width: 780px;
    margin: 0 auto;
}

.slider__item--title {
    margin: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.tours__offers {
    margin: 0;
    padding: 0;
}

.tours__offers--item,
.tours__offers--link {
    display: inline-block;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
}

.tours__offers--link:hover {
    color: rgb(133, 214, 197);
}

/* SLIDER ARROWS */

.slider__arrows--box {
    z-index: 2;
    position: relative;
    max-width: 1122px;
    height: 600px;
}

.slider__arrow {
    position: absolute;
    top: 38%;
    width: 105px;
    height: 105px;
    opacity: .8;
}

.slider__arrow:hover {
    opacity: 1;
}

.slider__arrow--left {
    left: 0;
    background: #1ABC9C url(../img/white-arrow-left.png) no-repeat center center;
    background-size: 40%;
}

.slider__arrow--right {
    right: 0;
    background: #1ABC9C url(../img/white-arrow-right.png) no-repeat center center;
    background-size: 40%;
}

/* /HEADER */

/* MAIN */

.main {
    background-color: #E9F0FD;
}

.content {
    padding: 102px 0;
}

.content__title {
    text-align: center;
    margin-bottom: 119px;
    color: #515151;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.content__title::after {
    content: "";
    display: block;
    text-align: center;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 32px auto 0;
}

/* PRODUCT LIST */

.product__list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.product__item {
    display: inline-block;
    width: 256px;
    height: 323px;
    position: relative;
}

.product__item:not(:last-of-type) {
    margin-right: 28px;
    margin-bottom: 20px;
}

.product__item:hover .product__item--layer,
.product__item:hover .product__item--order {
    display: block;
}

.product__item:hover .product__item--name,
.product__item:hover .product__item--price {
    background-color: #1abc9c;
}

.product__item--layer {
    z-index: 2;
    position: absolute;
    display: none;
    height: 282px;
    width: 256px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 10px solid #ffffff;
    background-color: #000000;
    opacity: 0.55;
}

/* ORDER BOX */

.product__item--order {
    z-index: 3;
    position: absolute;
    display: none;
    height: 282px;
    width: 256px;
    margin: 0;
    padding: 0;
    padding-top: 89px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.product__item li:hover {
    background-color: #1abc9c;
}


.heart,
.arrows,
.clock {
    display: inline-block;
    height: 51px;
    width: 51px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
}

.heart {
    background: url(../img/heart.png) no-repeat center;
}

.arrows {
    margin: 0 3px 7px;
    background: url(../img/roud.png) no-repeat center;
}

.clock {
    background: url(../img/time.png) no-repeat center;
}

.cart {
    padding: 4%;
    display: inline-block;
    text-align: center;
    height: 51px;
    width: 167px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    background-color: #323232;
}

.cart__image {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    background: url(../img/cart.png) no-repeat;

}

.cart__text {
    display: block;
    float: right;
    padding-top: 7px;
    margin-right: 10px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

/* NAME AND PRICE */

.product__item--name {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 5%;   
    height: 41px;
    width: 201px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    background-color: #323232;
}

.product__item--price {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 4%;
    height: 41px;
    width: 55px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    background-color: #323232;
    opacity: .44;
}

/* PRODUCT IMAGE */

.product__item--image {
    z-index: 1;
}

/* /MAIN */

/* FOOTER */

.footer {
    background-color: #323232;
    height: 90px;
}

.footer__text {
    margin: 0;
    padding: 0;
    padding-top: 38px;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    vertical-align: text-bottom;
    box-sizing: border-box;
    font-size: 16px;
}

.company__link {
    display: inline;
    text-decoration: none;
    color: #46bfa9;
}

/* /FOOTER */