
/* HEADER */

header { 
 min-height: 540px;
 background: rgba(0, 0, 0, 0.9) url('../img/Vector_Smart_Object.png') center 100% no-repeat;
 background-size: cover;
}

/* LOGO */

.logo {
/*   background-color: lightgrey; */
}

.logo__link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  }

/* REGISTRATION */

.registration {
/*   background-color: grey; */
}

.registration__link {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  width: 74px;
  line-height: 36px;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 25px;
  box-sizing: border-box;
  transition: .2s;
}

.registration__link:hover {
  border: 2px solid #ffffff;
  transition: .2s;
  text-decoration: none;
  color: white;
  }
  
.registration__link::first-letter {
    text-transform: capitalize;
  }

/* /HEADER */

@media (min-width: 768px) {
  header {
        height: 700px;
  }
}

@media (min-width: 1024px) {
  header {
        height: 700px;
  }
}